<!--La balise <ng-container> est utilisée comme conteneur temporaire qui n'est pas rendu dans le DOM final.-->
<div class="rating">
  <ng-container *ngFor="let i of stars">
    <i class="fa-solid fa-star" (click)="updateRating(i)" [ngClass]="{'active': i<=initialRating}"></i>
  </ng-container>
</div>
<!--***********************************************************************************************************-->
<div class="container">
  <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" (rateChange)="onRateChange()"></ngb-rating>
  <p>Rate: {{currentRate}}</p>
</div>

<div>
  <h2>Statistiques des étoiles</h2>
  <ul>
    <li>Nombre de 1 étoile: {{ ratingsCount[0] }}</li>
    <li>Nombre de 2 étoiles: {{ ratingsCount[1] }}</li>
    <li>Nombre de 3 étoiles: {{ ratingsCount[2] }}</li>
    <li>Nombre de 4 étoiles: {{ ratingsCount[3] }}</li>
    <li>Nombre de 5 étoiles: {{ ratingsCount[4] }}</li>
  </ul>
  
  <!-- Ajoutez les barres horizontales ici -->
  <div class="star-bars">
    <div class="star-bar" [style.width.%]="(ratingsCount[0] / getTotalRatings()) * 100"></div>
    <div class="star-bar" [style.width.%]="(ratingsCount[1] / getTotalRatings()) * 100"></div>
    <div class="star-bar" [style.width.%]="(ratingsCount[2] / getTotalRatings()) * 100"></div>
    <div class="star-bar" [style.width.%]="(ratingsCount[3] / getTotalRatings()) * 100"></div>
    <div class="star-bar" [style.width.%]="(ratingsCount[4] / getTotalRatings()) * 100"></div>
  </div>
</div>

<!--***********************************************************************************************************-->
