<!--La balise <ng-container> est utilisée comme conteneur temporaire qui n'est pas rendu dans le DOM final.-->
<div class="rating">
  <ng-container *ngFor="let i of stars">
    <i class="fa-solid fa-star" (click)="updateRating(i)" [ngClass]="{'active': i<=initialRating}"></i>
  </ng-container>
</div>
<!--***********************************************************************************************************-->
<div class="container">
  <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
  <p>Rate: {{currentRate}}</p>
</div>
